/* Stylizacja dla sekcji produktów */
.products {
    padding: 60px 20px;
    text-align: center;
    background-color: #f9f9f9; /* Matching background color */

}

/* Stylizacja siatki produktów */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Responsywna siatka */
    gap: 30px; /* Odstępy między elementami siatki */
    margin: auto;
}

/* Stylizacja pojedynczych elementów produktu */
.product-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Delikatny cień */
    text-align: center;
    transition: transform 0.2s ease-in-out; /* Animacja na hover */
}

.product-item:hover {
    transform: translateY(-5px); /* Podniesienie elementu przy najechaniu myszką */
}

/* Stylizacja obrazków w elementach produktów */
.product-item img {
    width: 100%; /* Stała szerokość obrazka */
    /*object-fit: cover; !* Dopasowanie obrazu bez zniekształcenia *!*/
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* Stylizacja tekstu produktu */
.product-item h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}